//
// Buttons
// --------------------------------------------------

// Search form, file upload, and general buttons
button.search-submit,
input.button { 
	padding: (@padding-base-vertical * .5) (@padding-base-horizontal * .75);
	color: @text-color; 
	background-color: @gray-lighter; 
	border: 1px solid @text-color; 
	&:hover {
		color: @body-bg; 
		background-color: @gray-darker; 
	}
}