//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  margin-bottom: (@line-height-computed * .75);
	border-bottom: 0;
	box-shadow: none;
}
.widget ul {
	list-style: none; 
	padding-left: 0; 
}
