//
// Scaffolding
// --------------------------------------------------

body {
	padding-top: @navbar-height; 
}
.container > .row {
	padding: (@padding-base-vertical * 20) 0 (@padding-base-vertical * 5); 
	@media (min-width: @screen-md-min) {
		padding: (@padding-base-vertical * 20) 0 (@padding-base-vertical * 5) ; 
	}
}
.page .container > .row { /* change spacing to accommodate cover images on pages */
	padding: (@padding-base-vertical * 12) 0 0; 
	@media (min-width: @screen-md-min) {
		padding: (@padding-base-vertical * 12) 0 (@padding-base-vertical * 5); 
	}
}
.page .container.no-cover > .row { /* change spacing to accommodate main navbar when no cover images are placed on pages */ 
	padding: ((@padding-base-vertical * 12) + @navbar-height) 0 0; 
	@media (min-width: @screen-md-min) {
		padding: ((@padding-base-vertical * 12) + @navbar-height) 0 (@padding-base-vertical * 5); 
	}
}
.post {
	margin-bottom: @line-height-computed; 
	overflow: hidden; 
}
.blog .sticky {
	height: auto; 
}
.entry-content {
	padding: 0 0 (@padding-base-vertical * 2); 	
}

.alignleft {
	@media (min-width: @screen-md-min) {
		display: inline; 
		float: left; 
		margin: (@line-height-computed / 2) @grid-gutter-width @line-height-computed 0; 
	}
}
.alignright {
	@media (min-width: @screen-md-min) {
		display: inline; 
		float: right; 
		margin: (@line-height-computed / 2) 0 @line-height-computed @grid-gutter-width; 
	}
}
.aligncenter {
	display: block; 
	margin: @line-height-computed auto; 
}

// Images

img {
	display: block; 
	max-width: 100%;
	height: auto;
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
.comment-meta img {
	@media (min-width: @screen-md-min) {
		display: inline; 
		float: left; 
		margin: (@line-height-computed * .25) (@grid-gutter-width / 2) (@line-height-computed / 2) 0; 
	}
}

// Page featured image
.page .cover {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content:center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative; 
	width: 100%; 
	height: 200px; 
	overflow: hidden; 
	@media (min-width: @screen-md-min) {
		height: 300px; 	
	}
	@media (min-width: @screen-lg-min) {
		height: 400px; 	
	}
}

// Next/Previous Navigation
.single .entry-footer {
	margin: @line-height-computed 0 (@line-height-computed * 3.5); 
}
.previous {
	float: left; 
}
.next {
	float: right; 
}
// Comments
#comments {
	margin-top: (@line-height-computed * 1.5)
}
.comment-list {
	padding-left: 0; 
}