//
// Scaffolding
// --------------------------------------------------

.container > .row {
	padding: (@line-height-computed *5) 0; 
}
.page .container > .row {
	padding: (@line-height-computed *3) 0 (@line-height-computed *5); 
}
.page .container.no-cover > .row { 
	padding: ((@line-height-computed *3) + @navbar-height) 0 (@line-height-computed *5); 
}

.post {
	margin-bottom: @line-height-computed; 
	overflow: hidden; 
}
.blog .sticky {
	height: auto; 
}

.alignleft {
	@media (min-width: @screen-md-min) {
		display: inline; 
		float: left; 
		margin: (@line-height-computed * .25) @grid-gutter-width (@line-height-computed * .75) 0; 
	}
}
.alignright {
	@media (min-width: @screen-md-min) {
		display: inline; 
		float: right; 
		margin: (@line-height-computed * .25)  0 (@line-height-computed * .75) @grid-gutter-width; 
	}
}
.aligncenter {
	display: block; 
	margin: @line-height-computed auto; 
}
