//
// Thumbnails
// --------------------------------------------------

// Page featured image
.page .cover {
	position: relative; 
	width: 100%; 
	height: 300px; 
	overflow: hidden; 
	@media (min-width: @screen-md-min) {
		height: 400px; 	
	}
}
.page .cover img.img-responsive.wp-post-image {	
 	position: absolute; 
  left: 50%;
  top: 50%; 
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
	
// Post featured images 
.blog img.wp-post-image,
.archive img.wp-post-image {
	@media (min-width: @screen-md-min) {
		float: left; 
		margin: 0 @line-height-computed 0 0; 
		width: 33.33333333333333%; 
		clear: both; 
	}
}
.blog .post:first-of-type {
		margin: 0 0 @line-height-computed; 
}
.blog .post:first-of-type img.wp-post-image {
	@media (min-width: @screen-md-min) {
		float: none; 
		margin: 0 0 @line-height-computed; 
		width: 100%; 
		clear: both; 
	}
}
.single img.wp-post-image {
	margin-bottom: @line-height-computed; 
}

// Home gallery images
.home .thumbnail a img {
	position: relative;
	border: 1px solid @gray-light; 
}
.home .thumbnail a img:hover {
	border-color: @gray-dark; 
}
.image-meta {
	color: #999;
	z-index: 9999; 
}