//
// Thumbnails
// --------------------------------------------------

// Post featured images 
.blog img.wp-post-image,
.archive img.wp-post-image {
	@media (min-width: @screen-md-min) {
		float: left; 
		margin: 0 @line-height-computed 0 0; 
		width: 33.33333333333333%; 
		clear: both; 
	}
}
.sticky img.wp-post-image {
	@media (min-width: @screen-md-min) {
		float: none; 
		margin: 0 0 @line-height-computed; 
		width: 100%; 
		clear: both; 
	}
}
.single img.wp-post-image {
	margin-bottom: @line-height-computed; 
}

// Home gallery images
.home .thumbnail a img {
	position: relative;
	border: 1px solid @gray-light; 
}
.home .thumbnail a img:hover {
	border-color: @gray-dark; 
}
.image-meta {
	color: #999;
	z-index: 9999; 
}