//
// Typography
// --------------------------------------------------

// Headings
// -------------------------


h1.page-title, 
h1.entry-title {
	margin-top: 0; 
}
h1.entry-title {
	font-size: (@font-size-h1 * .75);
}
/* .blog .post:first-of-type h1 {
	&.entry-title {
		@media (min-width: @screen-lg-min) {
			font-size: (@font-size-h1 * 1.25)
		}
	}
} */ 
.archive .post h1 {
	&.entry-title {
		font-size: (@font-size-h1 * .625);
	}
}
h2, .h2 {
	small {
		font-size: @font-size-h2-small;
	}
	.entry-title {
		margin-bottom: @line-height-computed;
	}
}

// Body text
// -------------------------

.entry-content p {
  @media (min-width: @screen-lg-min) {
    font-size: (@font-size-base * 1.25); 
	}
}
.page-template-page-full .entry-content p {
  @media (min-width: @screen-lg-min) {
    font-size: (@font-size-base * 1.5); 
    margin-left: 8.33333333333333%; 
    margin-right: 8.33333333333333%; 
  }
}
p.copyright {
  @media (min-width: @screen-sm-min) {
    font-size: @font-size-base;
		color: @gray; 
  }
}

// Page header
// -------------------------

.page-header {
  margin: 0;
  border-bottom: none;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: (@line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}
.page-template-page-full .entry-content ul,
.page-template-page-full .entry-content ol {
	@media (min-width: @screen-lg-min) {
		font-size: (@font-size-base * 1.5); 
 		margin-left: 8.33333333333333%; 
    margin-right: 8.33333333333333%; 
	}
}

// Description Lists
.page-template-page-full .entry-content dl {
  @media (min-width: @screen-lg-min) {
		font-size: (@font-size-base * 1.5); 
    margin-left: 8.33333333333333%; 
    margin-right: 8.33333333333333%; 
	}
}

// Misc
// -------------------------

// Abbreviations and acronyms 
// http://stackoverflow.com/questions/26276556/remove-underlining-caused-by-abbr-tag
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

// Blockquotes
blockquote {
  margin: @line-height-computed 0;
	background-color: @gray-lighter; 
}
.page-template-page-full .entry-content blockquote p {
	text-indent: -.325em;
  @media (min-width: @screen-sm-min) {
		font-size: (@blockquote-font-size * 1.25 ); 
		margin-left: 0; 
    margin-right: 0; 
	}
}
// Blog
p.metadata {
	font-size: (@font-size-base * .875); 
	margin-bottom: @line-height-computed;
	&.category {
		margin: @line-height-computed 0 0;
	}
}
.byline {
	margin-right: (@line-height-computed * .625); 
}
.updated {
	margin-right: (@line-height-computed * .5); 
}
.category {
	margin-right: (@line-height-computed * .4375); 
}
.fa {
	display: inline; 
}
.fa-user {
	margin-right: (@line-height-computed * .125); 
}
.fa-calendar,
.fa-folder,
.fa-tag {
	margin-right: (@line-height-computed * .25); 
}